@model IEnumerable<Proyecyo.Models.Medico>

<p>
    <a asp-action="Create">Create Nuevo Medico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrecompletoDoctor)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrecompletoDoctor)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMedico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
