@model Proyecyo.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Desea eliminar esta informacion?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombrecompletousuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombrecompletousuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dniusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dniusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rucusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rucusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celularusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celularusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correousuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correousuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
