@model IEnumerable<Proyecyo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Usuarios</h1>

<p>
    <a asp-action="Register">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombrecompletousuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dniusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rucusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celularusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correousuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombrecompletousuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dniusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rucusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celularusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correousuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
           
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
