@model IEnumerable<Proyecyo.Models.ReservaMedicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Listar</h1>

<p>
    <a asp-action="Create">Crear Reserva Medicamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedicamentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedicamentoNavigation.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReservamedicamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdReservamedicamento">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReservamedicamento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
