@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Lista de Medicos";
    //reutilizar layout.cshtml
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-4">
        <h3>Lista de productos</h3>
    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary  form-control">Crear Medicamentos</a>
    </div>
  </div>
<div>
    @if (Model.Count() > 0)
    {
     <table class="d-lg-table table-striped border">
         <tr>
             <th>Nombre </th>
             <th>Categoria</th>
                <th>Stock</th>
                <th>Precio </th>
                <th>Id Farmacia</th>
                <th>Id Producto</th>
                <th>Id Usuario</th>
             
         </tr>
         @foreach (var p in Model)
         {
             <tr>
                 <td>@p.nombre</td>
                     <td>@p.categoria</td>
                    <td>@p.stock</td>
                    <td>@p.precio</td>
                    <td>@p.fecha</td>
                    <td>@p.id_farmacias</td>
                    <td>@p.id_producto</td>
                    <td>@p.id_usuario</td>
                 
                 <td>
<a class="btn btn-primary text-white" asp-action="Edit" 
asp-route-id="@p.id_producto">Editar</a>
<a class="btn btn-danger text-white" asp-action="Delete"
asp-route-id="@p.id_producto">Borrar</a>
                 </td>
             </tr>
         }
        </table>
    }
    else
    {
        <p> No hay Medicamentos Registrados</p>
    }
</div>