@model IEnumerable<Proyecyo.Models.Farmacia>

@{
    ViewData["Title"] = "Index";
}

<h1>Listar</h1>

<p>
    <a asp-action="Create">Crear Nueva Farmacia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombrefarmacia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombrefarmacia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFarmacia">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFarmacia">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFarmacia">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
